$blue-color: royalblue;
$oran-color: orange;
$whit-color: white;
$gray-color: gray; 
$ora2-color: #c03320;
$blac-color: black;
$main-color: #a6a8a9;
$navm-color: rgba(90, 196, 238, 0.2);
$back-color: rgba(73, 87, 88, 0.2);
// $rgba-color: rgba(73, 87, 88, 0.1); // shadow of manu / add-back
